/* TODO: Make it awesome */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(197, 87, 87);
    height: 100vh;
  }
  body>header{
    width: 100%;
    background-color: rgb(104, 125, 141);
    height: 50px;
    line-height: 50px;
    padding: 10px 100px;
  }
  body>header h1{
    letter-spacing: 3px;
    word-spacing: 5px;
    float: left;
    font-size: 30px;
    line-height: 30px;
    color: rgb(30, 158, 14);
  }
  body>header nav {
    float: right;
    line-height: 30px;
  }
  body>header nav li {
    display: inline-block;
  }
  body>header nav li a {
    font-size: 20px;
    color: #eee;
    padding: 8px;
    text-decoration: none;
  }
  #itemCount {
    color: #ccc;
    font-size: 10px;
  }
  main {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 30px;
    min-height: 475px;
    height: auto;
    overflow: hidden;
  }
  .card header{
    width: 100%;
    background-color: rgb(134, 18, 111);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ccd;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
  .card .copy {
    padding: 25px;
    line-height: 30px;
    font-size: 20px;
  }
  .col-2{
    margin:0 100px;
  }
  .col-2 .card .copy{
    width:30%;
    float: left;
  }
  legend{
    display: none;
  }
  label>span, label{
    display: block;
    margin-bottom: 8px;
  }
  select, input[type="number"]{
    width:100%;
    padding: 8px;
    font-size: 12px;
  }
  select option{
    margin: 50px 0;
  }
  input[type="submit"]{
   float: right;
   padding: 10px;
  }
    footer {
    background: #eee;
    height: 25px;
    padding: 10px;
    border-top: 2px solid #ddd;
    text-align: center;
    color: rgb(99, 98, 98);
  }
  
  /*   cart.html page style    */
  
  #cart{
    width: 60%;
    margin: 0 auto;
  }
  thead tr{  
    border-bottom: 4px solid #333;
  }
  th {
    font-weight: bolder;
    color: #666;
    padding: 10px;
    font-size: 20px;
  }
  th:first-child, th:nth-child(2){
    text-align: left;
  }
  th:last-child{
    width:100%;
    text-align: left;
  }
  td {
    font-size: 20px;
    border-bottom: 2px solid rgb(114, 66, 66);
    text-align: left;
    color: rgb(226, 17, 17);
    padding: 10px;
    width: auto;
    height: auto;
  }